@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cormorant: "Georgia";
  --font-manrope: "Avenir Next";
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-size: 18px; /* 你想大就留 18 */
  overflow-x: hidden;
}

@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}

.animate-grain {
  animation: grain 8s steps(10) infinite;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
